.dashboard{

}
.options{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    height: 25vh;
    width: 100%;
    border: 2px solid grey;
    
}
.userOptions{}
.adminOptions{}
.rootUserOptions{}

Button{

}
.settingsBtn{
font-size: 30px;
}
.icons{
font-size: 30px;
margin-left: 10px;
}
.stockimg{
    font-size: 130px;
    margin-bottom: 10px;
}